html, body{
	background-color: #222222;
  height: 100%;
}

*{
  margin: 0;
  padding: 0;
  list-style-type:none;
}

.lm_content
{
	overflow: auto;
}

.ps__rail-x, .ps__rail-y
{
  /*opacity: 0.6;*/ 
}

#diffTooltip
{
	background-color: black;
	color: white;
	max-height: 400px;
	opacity: 0.8;
	overflow: auto;
	position: fixed;
	visibility: hidden;
	max-width: 400px;
	z-index: 2;
}

#renderOverlay
{
	background-color: black;
	position: fixed;
	visibility: hidden;
	z-index: 2;
}

#renderOverlay img
{
	display: block;
	/*height: 100%;*/
	margin: auto;
	object-fit: contain;
	position: absolute;
}

.loader
{
	align-items: center;
	background-color: black;
	display: flex;
	height: 100%;
	justify-content: center;
	opacity: 0.3;
	position: absolute;
	width: 100%;
	z-index: 1;
}

.spinner
{
    border: solid #f3f3f3; /* Light grey */
    border-top: solid #3498db; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin
{
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.d2h-file-diff {
	overflow: visible;
}

#wrapper{
  height: 100%;
  position: relative;
  width: 100%;
  overflow: hidden;
}

#menuContainer{
  width: 10%;
  height: 100%;
  position:absolute;
  top: 0;
  left: 0;
  background: #222;
}

#menuContainer li{
  cursor: move;
  border-bottom: 1px solid #000;
  border-top: 1px solid #333;
  cursor: pointer;
  padding: 10px 5px;
  color: #BBB;
  background: #1a1a1a;
  font: 12px Arial, sans-serif;
}

#menuContainer li:hover{
  background: #111;
  color: #CCC;
}

#layoutContainer{
  width: 100%;
  height: 100%;
  position:absolute;
  top: 0;
  /*left: 10%;*/
  box-shadow: -3px 0px 9px 0px rgba( 0, 0, 0, 0.4 );
}
#editorContainer
{
	float: left;
	height: 100vh;
	margin: 0;
	padding: 0;
	position: relative;
	width: 50vw;
}

#editor
{
	height: 100%;
	margin: 0;
	width: 100%;
}

#vsContainer
{
	float: right;
	height: 100vh;
	margin: 0;
	padding: 0;
	position: relative;
	width: 50vw;
}

#header
{
	background-color: green;
	height: 0%;
	width: 100%;
}

#viewer3d
{
	height: 25%;
	overflow: auto;
}

#viewer3d #content
{
	background-color: blue;
	display: flex;
	margin: 0;
	padding: 0;
}

#visavisContainer
{
	background-color: lightgrey;
	height: 45%;
	overflow: auto;
	width: 100%;
}

#resultImages
{
	background-color: lightpink;
	display: inline-block;
	overflow: auto;
}

#output-info
{
	background-color: black;
	border-radius: 5px;
	color: white;
	right: 20px;
	padding: 5px 10px 5px 10px;
	position: absolute;
	z-index: 2;
}

#output-message
{
	color: white;
	display: flex;
	left: 10px;
	flex-direction: column;
	font-family: "Courier New", monospace;
	font-size: small;
	margin-bottom: 20px;
	/*overflow: auto;*/
	width: 100%;
	white-space: pre;
}
 
#error-popup
{
	visibility: hidden;
	z-index: 10;
}